<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Ticorn">
<meta name="copyright" content="Copyright © [2024] Ticorn">
<meta name="referrer" content="no-referrer">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="White">
% <meta name="google-site-verification" content="Your Google Verification Code">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Security-Policy" content="directive">
<meta name="HandheldFriendly" content="True">
<meta name="title" content="Ticorn - Discover a World of Unlimited Videos.">
<meta name="description" content="Dive into the world of Ticorn, the premier website that transports you to an enchanting world.">
<meta name="robots" content="index, follow">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Refresh" content="0">
<meta http-equiv="Pragma-directive" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
    <title>TiCorn - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}" />
</head>
<body>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/info'>Site Info</a></li>
            <li><a href='/Request_Upload'>Request/Upload Video</a></li>
            <li><a href='/report' style="color: red;">Report Video</a></li>
        </ul>        
    </nav>
    <div class="line"></div>
    <marquee id="watch">Watch Unlimited TiCorn</marquee>
    <div class="search-container">
        <form id="searchForm">
            <input type="text" id="searchInput" class="search-input" placeholder="Search...">
            <button type="submit" class="search-button">Search</button>
        </form>
    </div>
    <div class="line"></div>
<br>
<a href="/request"><div class="box"><h3>User's Requested Videos</h3></div></a>
<a href="/upload"><div class="box"><h3>User's Uplouded Videos</h3></div></a>
<br>
<div class="line"></div>
    <ul>
        <li>Top Categories</li>
    </ul>
    <div class="grid-container" id="searchResults"> <!-- Added an ID to this div -->

        <a href="/Cheating"><div class="styled-div">
            <img src="https://c3625z4512.r-cdn.com/89233196_078_f183.jpg" alt="Cheating">
            <div class="inbox"><h3>Cheating</h3></div>
        </div></a>

        <a href="/Indian">
            <div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/india.jpg" alt="Indian">
                <div class="inbox">
                    <h3>Indian</h3>
                </div>
            </div>
        </a>      
            
            <a href="/College"><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/736_college_what.webp" alt="College">
                <div class="inbox"><h3>College</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Hardcore.webp" alt="Hardcore">
                <div class="inbox"><h3>Hardcore</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/ass.webp" alt="Ass">
                <div class="inbox"><h3>Ass</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/milf.webp" alt="MILF">
                <div class="inbox"><h3>MILF</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/big tites.webp" alt="Big Tits">
                <div class="inbox"><h3>Big Tits</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/big cook.webp" alt="Big Cock">
                <div class="inbox"><h3>Big Cock</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/teen.webp" alt="teen">
                <div class="inbox"><h3>Teen</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Pussy Licking.webp" alt="Pussy Licking">
                <div class="inbox"><h3>Pussy Licking</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Petite.webp" alt="Petite">
                <div class="inbox"><h3>Petite</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/cumshot.jpg" alt="Cumshot">
                <div class="inbox"><h3>Cumshot</h3></div>
            </div></a>
           
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/pornstar.webp" alt="Pornstar">
                <div class="inbox"><h3>Pornstar</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/mom.jpg" alt="Mom">
                <div class="inbox"><h3>Mom</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Ebony.webp" alt="Ebony">
                <div class="inbox"><h3>Ebony</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Asian.webp" alt="Asian">
                <div class="inbox"><h3>Asian</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Cowgirl.webp" alt="Cowgirl">
                <div class="inbox"><h3>Cowgirl</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Panties.webp" alt="Panties">
                <div class="inbox"><h3>Panties</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Anal.webp" alt="Anal">
                <div class="inbox"><h3>Anal</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Doggy Style.webp" alt="Doggy Style">
                <div class="inbox"><h3>Doggy Style</h3></div>
            </div></a>

            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Kissing.webp" alt="Kissing">
                <div class="inbox"><h3>Kissing</h3></div>
            </div></a>
            
            <a href=""><div class="styled-div">
                <img src="https://c3625z4512.r-cdn.com/Creampie.jpg" alt="Creampie">
                <div class="inbox"><h3>Creampie</h3></div>
            </div></a>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("searchForm").addEventListener("submit", function(event){
        event.preventDefault(); // Prevent default form submission
        var searchTerm = document.getElementById("searchInput").value.trim().toLowerCase();
        var gridItems = document.querySelectorAll('.grid-container .styled-div'); // Select all divs with class 'styled-div' within 'grid-container'
        gridItems.forEach(function(item) {
            var heading = item.querySelector('h3').textContent.trim().toLowerCase(); // Get the text content of h3 within the current item
            if (heading.includes(searchTerm)) { // If the heading contains the search term
                item.style.display = 'block'; // Show the item
            } else {
                item.style.display = 'none'; // Hide the item
            }
        });
    });
});
    </script>
</body>
</html>